@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Nunito+Sans:wght@800&display=swap');





/* Media queries for responsive design */


@media (min-width: 768px) {
  .px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .container {
    max-width: 720px;
  }
}

@media (min-width: 1024px) {

  .container {
    max-width: 960px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1140px;
  }
}
